<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for resource, as: resource_name, url: registration_path(resource_name), html: { method: :put } do |f| %>
  <%= f.input :pseudo, label: 'Ton pseudo', autofocus: true, autocomplete: "pseudo" %>
  <%= f.input :email, autofocus: true, autocomplete: "email" %>
  <%= f.input :password, autocomplete: "new-password", hint: 'Laisse vide si tu ne veux pas le changer' %>
  <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  <%= f.input :password_confirmation, hint: 'No special characters.', autocomplete: "new-password" %>
  <%= f.input :current_password, hint: 'we need your current password to confirm your changes.', autocomplete: "current-password" %>
  <br/><br/>
  <%= f.submit 'Enregistrer les modifications' %>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
