
<%= simple_form_for(@character) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form_chara">
    <h3>Informations générales</h3>
    <div class="form_general">
      <div class="form_left">
        <%= f.input :prenom %>
        <%= f.input :nom %>
        <%= f.input :surnom %>
        <%= f.input :age %>
        <%= f.input :sexe, collection: [['0', 'Féminin'], ['1', 'Masculin']], label_method: :second, value_method: :first %>
      </div>
      <div class="form_mid">
        <%= f.input :race %>
        <%= f.input :classe, label: 'Classe / Occupation' %>
        <%= f.input :monde %>
        <%= f.input :origine %>
      </div>
      <div class="form_right">
        <%= f.input :pv %>
        <%= f.input :pm %>
        <%= f.input :destin, label: 'Niveau' %>
        <%= f.input :avatar %>
        <%= f.input :hero, label: 'Image bannière' %>
      </div>
    </div>
    <h3>Précisions</h3>
    <%= f.input :histoire %>
    <div class="form_more">
      <%= f.input :competences %>
      <%= f.input :inventaire %>
    </div>
    <%= f.association :user %>
  </div>

  <div class="form_submit">
    <%= f.button :submit %>
  </div>
<% end %>
