<header class="header_perso">
  <div class="header_illustration">
    <%= image_tag 'fond_png.png', alt: 'bannière du site' %>
  </div>
  <div class="header_profile header_btn">
    <h1>Liste des personnages</h1>
    <%= link_to 'New Character', new_character_path %>

  </div>
</header>

<div id="main" class="chara_list">

  <% if @characters.any? %>

    <% @characters.sort_by(&:prenom).each do |character| %>
      <div class="character">
        <div class="chara_avatar" style="background-image: url('<%= character.avatar %>')"></div>
        <div class="chara_infos">
          <%= link_to character.prenom, character %>
          Originaire de <%= character.monde %>
        </div>
        <% if current_user == character.user %>
          <div class="chara_actions">
            <%= link_to 'Editer', edit_character_path(character) %>
            <%= link_to 'Supprimer', character, method: :delete, data: { confirm: 'Es-tu sûr.e de vouloir supprimer cette fiche ?' } %>
          </div>
        <% end %>
      </div>
    <% end %>

    <% else %>
      <div class="notice">
        <p>Il n'y a aucun personnage créé pour le moment !</p>
        <%= link_to 'Inscrit-toi pour créer des fiches', new_user_registration_path %>
      </div>
  <% end %>
</div>
