<p id="notice"><%= notice %></p>

<h1>Characters</h1>

<table>
  <thead>
    <tr>
      <th>Prenom</th>
      <th>Nom</th>
      <th>Surnom</th>
      <th>Avatar</th>
      <th>Hero</th>
      <th>Age</th>
      <th>Sexe</th>
      <th>Monde</th>
      <th>Race</th>
      <th>Origine</th>
      <th>Classe</th>
      <th>Pv</th>
      <th>Pm</th>
      <th>Destin</th>
      <th>Histoire</th>
      <th>Competences</th>
      <th>Inventaire</th>
      <th>Published at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @characters.each do |character| %>
      <tr>
        <td><%= character.prenom %></td>
        <td><%= character.nom %></td>
        <td><%= character.surnom %></td>
        <td><%= character.avatar %></td>
        <td><%= character.hero %></td>
        <td><%= character.age %></td>
        <td><%= character.sexe %></td>
        <td><%= character.monde %></td>
        <td><%= character.race %></td>
        <td><%= character.origine %></td>
        <td><%= character.classe %></td>
        <td><%= character.pv %></td>
        <td><%= character.pm %></td>
        <td><%= character.destin %></td>
        <td><%= character.histoire %></td>
        <td><%= character.competences %></td>
        <td><%= character.inventaire %></td>
        <td><%= character.published_at %></td>
        <td><%= link_to 'Show', character %></td>
        <td><%= link_to 'Edit', edit_character_path(character) %></td>
        <td><%= link_to 'Destroy', character, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Character', new_character_path %>
